@import '../../styles/global';

.reminders {
    background-color: $White;

    &__title {
        @include subheader-style;
        color: $Green;
        text-align: center;
    }

    &__med {
        color: $Pink;
        @include body-large;
        padding-top: 1rem;
    }

    &__date {
        color: $Pink;
        @include body-large;
        padding-top: 1rem;
    }

    &__time {
        color: $Pink;
        @include body-large;
        padding-top: 1rem;
    }

    &__freq {
        color: $Pink;
        @include body-large;
        padding-top: 1rem;
    }

    &__main {
        padding: 1rem;
    }


    &__sub {
        margin-top: 15px;
        border: 1px solid $Pink;
        @include flexBox(column);
        border-radius: 20px;
        padding: 1rem;
    }

    &__cont {
        @include flexBox(row);
        justify-content: center;  
        align-items: center;
    }

    &__button {
        @include body-medium;
        background-color: $White;
        border: 4px solid $Green;
        border-radius: 5rem;
        color: $Green;
        height: 2.25rem;
        width: 8.25rem;
        text-decoration: none;

        @include flexBox(row);
        justify-content: center;  
        align-items: center;

        &:hover{
            border: 4px solid $Pink;
            border-radius: 5rem;
            text-decoration: none;
            color: $Pink;
        }
    }
}