@import '../../styles/global';

.reminders {
    background-color: $White;
    @include flexBox(column);
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &__title {
        @include header-style;
        color: $Green;
        text-align: center;
    }
    &__border {
        width: 85%;
        border-top: 1px solid $Green;
    }

    &__cont-icon {
        @include flexBox(row);
        align-items: center;
        justify-content: center;
    }

    &__no-reminders {
        @include body-large;
        color: $Pink;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__icon {
        width: 3rem;
    }

    &__med {
        color: $Pink;
        @include body-large;
        padding-top: 1rem;
    }

    &__date {
        color: $Pink;
        @include body-large;
        padding-top: 1rem;
    }

    &__time {
        color: $Pink;
        @include body-large;
        padding-top: 1rem;
    }

    &__freq {
        color: $Pink;
        @include body-large;
        padding-top: 1rem;
    }

    &__days {
        color: $Pink;
        @include body-large;
        padding-top: 1rem;
    }

    &__main {
        padding: 1rem;
        padding-top: 0.25rem;
    }


    &__sub {
        margin-top: 15px;
        border: 1px solid $Pink;
        @include flexBox(column);
        border-radius: 20px;
        padding: 1rem;
    }

    &__cont {
        @include flexBox(row);
        justify-content: center;  
        align-items: center;
    }

    &__days-cont {
        @include flexBox(column);
    }

    &__button {
        @include body-medium;
        background-color: $White;
        border: 4px solid $Green;
        border-radius: 5rem;
        color: $Green;
        height: 2.25rem;
        width: 8.25rem;
        text-decoration: none;

        @include flexBox(row);
        justify-content: center;  
        align-items: center;

        &:hover{
            border: 4px solid $Pink;
            border-radius: 5rem;
            text-decoration: none;
            color: $Pink;
        }
    }
}